
// ---------- VARIABLE ----------

// color
$main-color: #3E6DDA;
$color-black: #141417;
$color-text-menu: #9B9BA8;
$color-sub-menu: #3F3F49;

// font
$font-size: 14px;
$font-weight: 400;
$font-family: 'Roboto', sans-serif;
$font-style: normal;

// border
$border-none: none;
$border-radius: 9px;
$border-outline: none;
