@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Gibson';
    src: url('../../fonts/Gibson-Regular/Gibson-Regular.ttf'), url('../../fonts/Gibson-Bold/Gibson-Bold.ttf');
}

// ---------- VARIABLE ----------

// color
$main-color: #3E6DDA;
$color-black: #141417;
$color-text-menu: #9B9BA8;
$color-sub-menu: #3F3F49;

// font
$font-size: 14px;
$font-weight: 400;
$font-family: 'Roboto', sans-serif;
$font-style: normal;

// border
$border-radius: 4px;
$border-outline: none;

// size
$light-height: 20px;

// animations
$transition: all 0.4s;

// ---------- RESET CSS ----------

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    font-family: $font-family;
    background: #F6F6F8;
}

// ---------- MIXIN ----------

@mixin flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin fontStyle {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: $font-family;
    line-height: 20px;
}

.wrapper {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
}

// -------------- menu --------------

.sidebar {
    display: flex;
}

.main-menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;

    &__create-response {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #ffffff;
    }
}

.menu__top {
    padding: 8px;

    &--logo {
        text-align: center;
        padding-bottom: 20px;
    }
}

.menu {
    list-style: none;

    &__item {
        @include flexbox();
        padding-bottom: 8px;
        transition: $transition;
        cursor: pointer;

        &--content {
            @include flexbox();
            padding: 8px 0 10px 0;
        }

        &.--profile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        &:hover {
            background: #F6F6F8;
            border-radius: 8px;
        }

        &:hover .text--link {
            color: $main-color;
            font-weight: 700;
        }

        &:hover .icon--menu-item {
            color: $main-color;
        }
    }
}

.profile-and-notifications {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

// -------------- sub menu --------------

.sub-menu {
    width: 230px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sub {
    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E9E9EC;
    }

    &__list {
        padding: 32px 16px 0 16px;

        &--item {
            padding: 10px 16px;
            margin-bottom: 8px;
            @include fontStyle();
            color: $color-sub-menu;
            transition: $transition;
            cursor: pointer;

            &:hover {
                background: #E9E9EC;
                border-radius: 4px;
            }

            &:hover .text__sub--description {
                font-weight: 700;
                color: $main-color;
            }
        }
    }
}

// -------------- main content --------------

.content {
    // min-height: max-content;
    height: 100vh;
    position: relative;
    flex-grow: 1;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px 0px 0px 8px;

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 24px 40px;

        &--right {
            display: flex;
            justify-content: space-between;
        }
    }

    &__search {
        padding: 32px 40px 20px 40px;
    }

    &__status {
        padding: 20px 40px 10px 40px;
    }

    &__table {
        padding: 10px 40px;
    }

    &__form {
        display: flex;
        justify-content: center;
        padding-top: 24px;
    }
}

.form {
    padding: 32px 40px 20px 40px;

    &__search {
        display: flex;
        // justify-content: space-between;
    }

    &__create {
        width: 600px;
        padding: 0 261px 80px 261px;

        &--item {
            display: flex;
            flex-direction: column;
            padding-bottom: 12px;
        }

        &--list {
            display: flex;
            align-items: center;
            padding: 8px 0;
        }
    }

    &__control {
        &--search {
            padding: 0 12px;
            display: flex;
            align-items: center;
            flex-grow: 1;
            background: #FFFFFF;
            border: 1px solid #B4B4BE;
            border-radius: 4px;
            box-sizing: border-box;
        }

        &--select {
            width: 160px;
            height: 36px;
            margin: 0 8px;
        }


    }

}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;
    width: 100%;

    tr {

        th,
        td {
            @include fontStyle();
            border-bottom: 1px solid #E9E9EC;

            &:first-child {
                border-left: 1px solid #E9E9EC;
            }

            &:last-child {
                border-right: 1px solid #E9E9EC;
            }
        }

        td {
            padding: 16px;
            width: fit-content;


            &:first-child {
                text-align: center;
            }
        }

        th {
            padding: 12px 16px;
            font-weight: 700;
            background: #F6F6F8;
            border-top: 1px solid #E9E9EC;
            text-align: left;

            &:first-child {
                border-left: 1px solid #E9E9EC;
                border-top-left-radius: 4px;
            }

            &:last-child {
                border-right: 1px solid #E9E9EC;
                border-top-right-radius: 4px;
            }

            &:nth-child(3) {
                width: 15%;
            }
        }



        &:last-child td:first-child {
            border-bottom-left-radius: 4px;
        }

        &:last-child td:last-child {
            border-bottom-right-radius: 4px;
        }
    }

    .response {
        &__content {
            display: flex;
            align-items: center;
        }

        &__tag {
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 2px 8px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            background: #E9E9EC;
            border-radius: 4px;
        }
    }

    .update__content {
        display: flex;
        align-items: center;
    }
}

.tabs {
    padding: 0 40px;
    border-bottom: 1px solid #E0E0E0;
}

.text {
    &--link {
        line-height: 16px;
        text-decoration: none;
        font-size: 12px;
        font-style: $font-style;
        font-weight: $font-weight;
        color: $color-text-menu;
        transition: $transition;
    }

    &__sub {
        &--title {
            padding: 16px;
            margin: 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: $font-size;
            font-style: $font-style;
            line-height: 20px;
            color: #828292;
        }

        &--description {
            @include fontStyle();
            color: $color-sub-menu;
            transition: $transition;
        }
    }

    &--title {
        font-family: 'Gibson';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: $color-black;
    }

    &--status {
        @include fontStyle();
        font-weight: 500;
        color: $color-black;
        padding-right: 20px;
    }

    &--action {
        @include fontStyle();
        font-weight: 500;
        color: #EC2B08;
    }
}

.icon {
    &--logo {
        padding: 4px 22px;
    }

    &--menu-item {
        padding-bottom: 6px;
        color: $color-text-menu;
    }

    &--profile {
        padding: 14px 18px;
    }

    &--search {
        width: 20px;
        height: 20px;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding: 0px 8px 0px 0px;
    }

    &--create {
        padding-right: 4px;
    }

    &--sort {
        padding-right: 8px;
    }

    &__table--image {
        padding-right: 2px;
    }

    &__table--avatar {
        padding-right: 12px;
    }
}

.btn {
    cursor: pointer;

    &--tabs {
        @include fontStyle();
        padding: 8px 2px 13px 2px;
        width: 121px;
        height: 43px;
        flex: none;
        order: 0;
        flex-grow: 0;
        text-align: center;
        border: none;
        color: #6B6B7B;
        background: none;
    }

    &--active {
        position: relative;
        color: $color-black;
        font-weight: 510;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -2px;
            left: 0;
            background: #3E6DDA;
            border-radius: 3px;
        }
    }

    &--search {
        background: none;
        border: none;
        display: flex;
        align-items: center;
    }

    &--create {

        &-search {
            display: flex;
            align-items: center;
            flex: none;
            order: 2;
            flex-grow: 0;
            padding: 8px 16px 8px 12px;
            @include fontStyle();
            font-weight: 500;
            border: none;
            background: #3E6DDA;
            border-radius: 4px;
            color: #FFFFFF;
            text-align: right;
        }

        &-response {
            display: flex;
            align-items: center;
            flex: none;
            order: 2;
            flex-grow: 0;
            padding: 8px 16px;
            @include fontStyle();
            font-weight: 500;
            border: none;
            background: #3E6DDA;
            border-radius: 4px;
            color: #FFFFFF;
            margin-left: 4px;
        }

    }

    &--collapse {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        top: 14px;
        left: -12px;
        background: #FFFFFF;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        outline: none;
        border: none;
        cursor: pointer;
    }

    &--cancel {
        padding: 8px 16px;
        background: #E9E9EC;
        border-radius: 4px;
        border: none;

        @include fontStyle();

        font-weight: 510;
        margin-right: 4px;
    }

    &--add-tag {
        @include fontStyle();

        width: fit-content;
        display: flex;
        align-items: center;
        padding: 6px 12px 6px 8px;
        border: none;
        border-radius: 4px;
        background: #E9E9EC;
        font-weight: 510;
        color: #141417;

    }

}

.input {
    outline: none;

    &--search {
        width: 100%;
        padding: 8px 0;
        border: 0;

        &::placeholder {
            @include fontStyle();
            color: #6B6B7B;
            display: flex;
            align-items: center;
            flex: none;
            order: 1;
            flex-grow: 1;
            line-height: 10;
        }
    }

    &__table--check {
        text-align: center;
    }

    &--create {
        background: #FFFFFF;
        border: 1px solid #B4B4BE;
        border-radius: 4px;
        padding: 8px 12px;

        &::placeholder {
            @include fontStyle();
            color: #6B6B7B;
        }
    }

    &--textarea {
        height: 176px;
        padding: 8px 12px;
        border: 1px solid #B4B4BE;
        border-radius: 4px;

        &::placeholder {
            @include fontStyle();
            color: #6B6B7B;
        }
    }

    &--radio {
        margin-right: 6px;
    }
}

.select {
    &__search {
        width: 160px;
        height: 36px;
        padding: 8px 12px;
        flex: none;
        order: 1;
        flex-grow: 0;
        outline: none;
        background: #FFFFFF;
        border: 1px solid #B4B4BE;
        border-radius: 4px;
        cursor: pointer;
    }

    &__create {
        width: 100%;
        padding: 8px 12px;
        background: #FFFFFF;
        border: 1px solid #B4B4BE;
        border-radius: 4px;
    }
}

.lable {
    &--item {
        @include fontStyle();
        padding-bottom: 4px;
        color: $color-black;
        font-weight: 510;
    }

    &--create-list {
        @include fontStyle();
    }
}