
// ---------- RESET CSS ----------

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    font-family: $font-family;
}


// @import './abstracts/_base';
// @import './abstracts/_fonts';
// @import './abstracts/_mixins';
// @import './abstracts/_variables';

// @import './components/_form';
// @import './components/_table';

// @import './layouts/_menu';
// @import './layouts/_subMenu';
