
// ---------- MIXIN ----------

@mixin flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin fontStyle {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: $font-family;
    line-height: 20px;
}
